body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('background/housePlan.png') no-repeat center center;
    width:100vw;
    height:100vh;
    background-size: contain;
    text-align: center;
    background-color: rgb(253, 248, 241);
}
h1 { font-size: 3rem; }


.notice {
    display: none;
    position: fixed;                   
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
}

.notice-content {
    border-radius: 20px;
    width: 350px;
    height: 350px;
    position: relative;
    animation: zoomIn 0.7s ease-out;
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
    text-align: left;
    padding: 75px;
    font-size: 1.3rem;
    line-height: 1.9;
}

.notice-content::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('background/notice.jpg') center/cover no-repeat; 
    filter: brightness(1);
    z-index: -1;
}

.notice-content>*{
    position: relative;
    z-index: 1;
}

.notice-content h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.notice-content button {
    display: block;
    margin: 40px auto 0;
}


.headicon {
    width: 50px; 
    height: 60px;
    vertical-align: middle;
    margin: 0 5px;
}


#enter {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.2rem;
  background: #e689d9;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
#enter:hover {
  background: #e689d9;
  transform: scale(1.05);
}


#reopenNotice{
    user-select: none;
    position: fixed;
    top: 3vh;
    right: 3vw;
    width: 6vw;
    height: 6vw;
    display: none;
    z-index: 1000;
    cursor: pointer;
}
#reopenNotice:hover {
    transform: scale(1.05);
}

.rightArrow{
    user-select: none;
    display: flex;
    position: absolute;
    right: 5%;
    top: 55%;
    text-decoration: none;
    color: rgb(31, 31, 43);
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    z-index: 50;
}

.leftArrow{
    user-select: none;
    display: flex;
    position: absolute;
    left: 5%;
    top: 70%;
    text-decoration: none;
    color: rgb(31, 31, 43);
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    z-index: 50;
}

.arrow img{
    width:8vw;
    height: auto;
    animation: arrowPulse 1.5s infinite;
}

.roomLabel{
    user-select: none;
    margin-top: 0;
    font-size: 2.5vw;
    font-weight: bold;
    color: #f2f227;
    animation: textPulse 1.5s infinite;
    text-shadow:-1px -1px 0 #c27510,
                1px -1px 0 #c27510,
                -1px 1px 0 #c27510,
                1px 1px 0 #c27510;
}

@keyframes arrowPulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}
@keyframes textPulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}   
}


#mapOverlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1200/690;
    max-width: 100vw;
    width: 100%;
    max-height:100vh;
    height: 100%;
    width: min(100vh*(1200/690),100vw);
    height: min(100vw*(690/1200),100vh);
    z-index: 50;
}

.truthButton {
    user-select: none;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 60;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

}
.truthButton img {
    width: 40%;
    height: auto;
    transition: transform 0.2s;
    animation: pulseBorder 1.5s infinite;
}
.truthButton:hover{
    transform:translateX(-50%) scale(1.05);
}

@keyframes pulseBorder {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}   
}

.truthButton.show{
    display: block;
}

.who{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.whoContent{
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5%;
    width: 50vw;
    text-align: center;
    border: 2px solid black;
}
.whoContent h3 {
    font-size: 4vmin;
    margin-bottom: 10px;
}
.whoContent p {
    font-size: 3vmin;
}

.radioGroup{
    margin: 10px 0;
    text-align: center;
    padding: 0;
}
.radioGroup input{
    margin: 0 5px;
    vertical-align: middle;
}
.radioGroup label {
    margin-left: 5px;
    font-size: 3vmin;
    cursor: pointer;
    margin-right: 10px;
}
#submit{
    padding: 10px 20px;
    font-size: 2vmin;
    background: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}
#submit:hover {
    transform: scale(1.05);
}

.leftArrowLotus{
    user-select: none;
    display: none;
    position: absolute;
    left: 5%;
    top: 40%;
    text-decoration: none;
    color: rgb(31, 31, 43);
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    z-index: 50;
}
.roomLabelLotus{
    user-select: none;
    margin-top: 0;
    font-size: 2.1vw;
    font-weight: bold;
    color: #f2f227;
    animation: textPulse 1.5s infinite;
    text-shadow:-1px -1px 0 #c27510,
                1px -1px 0 #c27510,
                -1px 1px 0 #c27510,
                1px 1px 0 #c27510;
}