body {
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fcece3; 
}

#animationContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animatedImage {
    width: 250vw; 
    height: auto;
    animation: shrinkToModal 3s ease-out forwards; 
}

@keyframes shrinkToModal {
    0% {
        transform: scale(1); 
        opacity: 1;
    }
    80% {
        transform: scale(0.25); 
    }
    100% {
        transform: scale(0.25);
        opacity: 1;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    }
}


.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
#continueButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 15px;
    cursor: pointer;
}


#finalContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    z-index: 50; 
    background-color: #fcece3; 
    display: none; 
}
#finalContent img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#finalContent h1, 
#finalContent p {
    position: absolute;
    z-index: 10; 
    margin: 0; 
    text-align: left;
    width: 50%;
}

#finalContent h1 {
    color: black; 
    font-size: 4vmin; 
}

#finalContent p {
    color: red;
    font-size: 2.5vmin; 
}