body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('background/tinaRoom.jpg') no-repeat center center;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    background-color: rgb(253, 248, 241);
}

.rightArrow{
    display: flex;
    position: absolute;
    right: 5%;
    top: 80%;
    text-decoration: none;
    color: rgb(31, 31, 43);
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    z-index: 50;
}

.rightArrow img{
    width: 8vw;
    height: auto;
    animation: arrowPulse 1.5s infinite;
}

.roomLabel{
    user-select: none;
    display: block;
    margin-top: 0;
    font-size: 1.6vw;
    font-weight: bold;
    color: #f2f227;
    text-shadow:-1px -1px 0 #c27510,
                1px -1px 0 #c27510,
                -1px 1px 0 #c27510,
                1px 1px 0 #c27510;
    animation: textPulse 1.5s infinite;
}

@keyframes arrowPulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

@keyframes textPulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}   
}

#mapOverlay {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1200/636;
    max-width: 100vw;
    width: 100%;
    max-height:100vh;
    height: 100%;
    width: min(100vh*(1200/636),100vw);
    height: min(100vw*(636/1200),100vh);
    z-index: 50;
}

.clue_hotspot_bed{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 15%;
    height: 15%;
    border: 3px solid;
    border-color: red;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 60;
    animation: pulseBorder 1.5s infinite; 
}

@keyframes pulseBorder {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.clueModalBed {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.modalContentBed{
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

#closeClueBed {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #b629f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.clue_hotspot_desk{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 10%;
    height: 10%;
    border: 3px solid;
    border-color: red;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 60;
    animation: pulseBorder 1.5s infinite; 
}

.clueModalDesk {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.modalContentDesk{
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

#closeClueDesk {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #b629f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clue_hotspot_wardrobe{
    position: absolute;
    top: 33%;
    left: 56%;
    width: 10%;
    height: 24%;
    border: 3px solid;
    border-color: red;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 60;
    animation: pulseBorder 1.5s infinite; 
}

.clueModalWardrobe {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.modalContentWardrobe{
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

#closeClueWardrobe {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #b629f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tinaHead {
    user-select: none;
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 13%;
    height: auto;
    cursor: pointer;
    z-index: 70;
    box-shadow: -1px -1px white, -1px 1px white, 1px -1px white, 1px 1px white;
}

.timeLineModal {
    user-select: none;    
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.timeLineModal.show{
    display: block;
}

.timeLineBox {
    position: absolute;
    bottom: 13%;
    left: 15%;
    width: 40%;
    height: auto;
    animation: zoomIn 0.5s ease-out;
    z-index: 1001;
}

.timeLineBubble{
    display: block;
    width: 100%;
    height: auto;
}

.timeLineWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 7% 5% 4% 25%;
    box-sizing: border-box;
}

.closeTimeLine {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2vw;
    font-weight: bold;
    color: #ffffff;
    background-color: #cd75f3;
    border: none;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    z-index: 1001;
    margin-bottom: 5%;
}
.closeTimeLine:hover {
    transform: scale(1.05);
}

.timeLineContent{
    text-align: left;
    user-select: none;
    padding: 0px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    min-height: 50px;
}

.timeLineContent p {
    margin: 5px 0;
    text-align: left; 
    font-size: 1.8vw; 
    color: #333; 
}